html,
body{
    max-width: 1400px;
    min-width: 1400px;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 88%;
    height: 50px;
    padding: 50px 100px 50px 159px;
    display: grid;
    grid-template-columns: 405px 569px 172px;
}
.logo{
    width: 130px;
    height: 50px;
    cursor: pointer;
}
.wg{
    width: 61px;
    height: 50px;
}
.log{
    width: 40px;
    height: 25px;
    margin-bottom: 10px;
}
.search{
    height: 43px;
    width: 536px;
    background-color: #e0e1e3;
    outline: none;
    border: none;
}
nav ::placeholder{
    color: black;
    float: right;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 15px;
    font-weight: 100;
}
.icons{
    width: 172px;
    height: 18px;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-gap: 56px;
}
.pers{
    width: 30px;
    height: 50px;
    cursor: pointer;
}
.hert{
    width: 25px;
    height: 50px;
    cursor: pointer;
}
.draft{
    width: 20px;
    height: 23px;
    cursor: pointer;
    margin-top: 12px;
}
hr{
    margin: 0px;
}
.section1{
    height: 800px;
    width: 86.5%;
    padding: 100px 40px 100px 150px;
    display: grid;
    grid-template-columns: 480px 730px;
}
.wale{
    height: 757px;
    width: 480px;
}
.walehead{
    width: 400px;
    height: 45px;
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    color: #060606;
    margin: 0px;
}
.wale h1{
    width: 420px;
    height: 112px;
    font-size: 80px;
    font-weight: 600;
    color: #060606;
    margin: 20px 0px;
}
.classimg{
    display: grid;
    width: 301px;
}
.classic{
    width: 301px;
    height: 84px;
    cursor: copy;
}
.zig{
    width: 51px;
    height: 18px;
    margin: auto;
}
.walebody{
    width: 424px;
    height: 90px;
    font-size: 32px;
    line-height: 45px;
    color: #060606;
}
.shopnow{
    width: 231px;
    height: 86px;
    color: #060606;
    border-color: #060606;
    background-color: transparent;
    border-radius: 50%;
    font-size: 26px;
    line-height: 45px;
    font-weight: 500;
    margin: 86px 0px 0px;
}
.shopnow a{
    text-decoration: none;
    color: #060606;
}

.walepic{
    width: 536px;
    height: 754px;
    background-image: url(bag.png);
    background-position: center;
    background-repeat: no-repeat;
}
.walepic img{
    width: 327px;
    height: 508px;
    position: relative;
    left: 405px;
    top: 148px;
}
.presec{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 250px 60px 250px 60px 250px 60px 250px 60px;
    justify-content: center;
}
.presec p{
    width: 250px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    color: #060606;
    font-weight: 300;
    margin: 0px;
}
.presec img{
    height: 36px;
    width: 36px;
}


.section2{
    width: 84.5%;
    padding: 50px 70px 60px 150px;
    height: 840px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-items: center;
    grid-gap: 50px;
}
.clothbox{
    width: 357px;
    height: 611px;
    color: black;
    border: 1px solid #b0a9a9;
    cursor: pointer;
}
.clothbox:hover{
    background-color: #060606;
    color: white;
}
.clothbox img{
    width: 297px;
    height: 414px;
    margin: 30px 30px 20px 30px;
}
.clothbody{
    width: 134px;
    height: 34px;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    margin: 0px 0px 0px 30px;
}
.clothprice{
    width: 67px;
    height: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}
.section3{
    width: 84.5%;
    padding: 50px 70px 60px 150px;
    height: 1100px;
}
.arrival{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 977px 100px 100px;
}
.arrival h1{
    width: 450px;
    height: 112px;
    font-size: 80px;
    line-height: 112px;
    font-weight: 400;
    color: #060606;
    margin: 0px;
}
.leftarr{
    width: 56px;
    height: 56px;
    transform: rotate(90deg);
    margin-top: 40px;
    cursor: pointer;
}
.rightarr{
    width: 56px;
    height: 56px;
    transform: rotate(-90deg);
    margin-top: 40px;
    cursor: pointer;
}
.arrivebox{
    height: 700px;
    width: 375px;
}
.arrivalimg{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 375px 375px 375px;
    grid-gap: 30px;
    justify-items: center;
}
.arrivalimg img{
    width: 375px;
    height: 611px;
    border: none;
    cursor: pointer;
}
.arrivalimg .clothbody{
    margin-left: 0px;
}
.arrivalimg .clothprice{
    margin-left: 0px;
}
.section4{
    width: 89.5%;
    padding: 50px 0px 0px 150px;
    height: 870px;

    display: grid;
    grid-template-columns: 480px 673px;
    grid-gap: 94px;
}
.collection{
height: 800px;

width: 480px;
}
.collecthead{
    width: 600px;
    height: 112px;
    font-size: 80px;
    line-height: 112px;
    font-weight: 400;
    color: #060606;
    margin: 0px;
}
.collectbold{
    width: 420px;
    height: 112px;
    font-size: 80px;
    font-weight: 600;
    color: #060606;
    margin: 20px 0px;
}
.collection .shopnow{
    margin: auto;
    margin-top: 50px;
    margin-left: 110px;
    margin-top: 82px;
}
.collectionimg{
    width: 468px;
    height: 784px;
    background-image: url(unbutt.png);
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: color;
    margin-top: 82px;
}
.hat{
    width: 327px;
    height: 508px;
    position: relative;
    left: -125px;
    top: -80px;
}
.denim{
    width: 327px;
    height: 508px;
    position: relative;
    left: 340px;
    top: -290px;
}
.white{
    color: white;
}
.section5{
    width: 87%;
    padding: 50px 30px 30px 150px;
    height: 1000px;
    display: grid;
    grid-template-columns: 550px 664px;
}
.idea{
    width: 550px;
    height: 1000px;
}
.idea h1{
    width: 550px;
    height: 448px;
    font-size: 80px;
    line-height: 112px;
    font-weight: 500;
    color: #060606;
    margin: 0px;
}
.idea p{
    width: 481px;
    height: 270px;
    font-size: 32px;
    font-weight: 300;
    line-height: 45px;
    color: #060606;
}
.idea .shopnow{
    margin-top: 0px;
}
.ideaimg{
    width: 664px;
    height: 873px;
    background-image: url(bernie.png);
    background-position: center;
    background-repeat: no-repeat;
}
.foot{
    width: 100%;
    height: 331px;
    background-color: #060606;
    color: white;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 380px 200px 200px 200px;
    justify-content: center;
}
.copybox{
    height: 200px;
    width: 390px;
}
.copybox h1{
    width: 390px;
    height: 56px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}
.copybox p{
    width: 280px;
    height: 28px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
}
.footbox{
    width: 239px;
    height: 300px;
}
.footbox p{
    width: 200px;
    height: 45px;
    font-size: 32px;
    font-weight: 300;
    line-height: 45px;
    margin-left: 40px;

}
.footbox ul li{
    width: 100px;
    height: 28px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    list-style: none;
    margin: 20px 0px;
}
.footbox ul li a{
    text-decoration: none;
    color: white;
}